<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main section -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/table"><i class="fas fa-angle-double-left"></i>All User</a>
            </div>
         </div>
         <div class="text-center">
            <h2 class="text-dark">New Registration</h2>
            <span class="text-light">Use the below form to create a new Entry</span>
         </div>
<!-- /Main section -->

<!-- add user form-->
<%- include('include/_form')%>


</div>
</main>

<!-- include footer -->
<%- include('include/_footer')%>
<!-- /include footer -->