<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->
<div class="text-center" id="site-main1">
    <h1 class="text-dark">Contact us</h1>
    <span class="text-light">Please fill out our form and we'll get in touch shortly.</span>
 </div>
<!-- Main section -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/contacttbl"><i class="fas fa-angle-double-left"></i>All User</a>
            </div>
         </div>
        
<!-- /Main section -->

<!-- add user form-->
<form action="/contacts" method="post" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="text" name="name" class="form-control" required placeholder="Name*">
        </div>
        <div class="form-group">
            <label for="email" class="text-light">Email Id</label>
            <input type="email" name="email" class="form-control" required placeholder="Email Id*">
        </div>
        <div class="form-group">
            <label for="subject" class="text-light">Subject</label>
            <input type="text" name="subject" class="form-control" required placeholder="Subject*">
        </div>
        <div class="form-group">
            <label for="message" class="text-light">Message</label>
            <textarea name="message" id="Message" cols="100" placeholder="Your Message to us" rows="8"></textarea>
        </div>
        <br>
       <div class="form-group" id="update_user">
       <button type="submit" class="btn text-white update" >Save</button>
       </div>
   </div>
   <br><br>
   </form>


</div>
</main>

<!-- include footer -->
<%- include('include/_footer')%>