<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
    <br>
<div class="topnav">
  <a class="" href="#about"><b></b></a>
  <a class="active" href="#home"><b>CAN</b>PARK</a>
  <div class="topnav-right">
    <a class="navbtn1" href="/adminreg"><b>Admin</b></a>
    <a class="navbtn2" href="/register"><b>User</b></a>
    <a class="" href="#about"><b></b></a>

  </div>
</div>
<header class="image1">
  <!-- Masthead Heading-->
  <img src="img/rec.gif" class="image1" alt="">
</header>

</body>
</html>