<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Agency - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="CSS/style5.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    </head>
    <body id="page-top">
        <!-- Navigation-->
<div class="topnav">
    <a class="" href="#"><b></b></a>
    <a class="active" href="#home" id=""><b>CAN</b>PARK</a>
    <div class="topnav-right">
      <a class="navbtn" href="/userindex"><b>Home</b></a>
      <a class="navbtn" href="/contact"><b>Contact us</b></a>
      <a class="navbtn" href="/feedback"><b>Feedback</b></a>
      <a class="navbtn" href="/logout"><b>Logout</b></a>
      <a class="" href="#"><b></b></a>
    </div>
  </div>
</div>
<div class="head">
<header class="image1">
  <!-- Masthead Heading-->
  <img src="./img/REC.gif" class="image1" alt="">
</header></div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#FAEE48" fill-opacity="1" d="M0,160L48,149.3C96,139,192,117,288,138.7C384,160,480,224,576,218.7C672,213,768,139,864,106.7C960,75,1056,85,1152,117.3C1248,149,1344,203,1392,229.3L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
  </svg>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase animate__animated animate__fadeInUp">Services</h2>
                </div>
                <br>
                <br>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x"id="logo1">
                            <i class="fas fa-circle fa-stack-2x text-primary" ></i>
                            <i class="fas fa-solid fa-newspaper fa-stack-1x fa-inverse" id="logo"></i>
                        </span>
                        <h4 class="my-3"><br> Insurance coverage</h4>
                        <p class="text-muted">Our team of experts and professionals are highly engaged in providing full insurance coverage for the vechiles which are parking in our yard.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa fa-car fa-stack-1x fa-inverse" id="logo"></i>
                        </span>
                        <h4 class="my-3"><br> Parking Facility For Colleges</h4>
                        <p class="text-muted">We provid parking faculty for Some Engineering colleges.This service includes separate office and security</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-solid fa-lock fa-stack-1x fa-inverse" id="logo"></i>
                        </span>
                        <h4 class="my-3"><br> Security Coverage</h4>
                        <p class="text-muted">All parking yards are monitored 24x7 with CCTV camera & WEBcam.</p>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center"><br>
                    <h2 class="section-heading text-uppercase animate__animated animate__fadeInUp">Gallery</h2>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                                <img class="img-fluid" src="./img/img01.jpg" alt="..." />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                                <img class="img-fluid" src="./img/img02.jpeg" alt="..." />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                                <img class="img-fluid" src="./img/img03.jpg" alt="..." />
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0"><br>
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                                <img class="img-fluid" src="./img/img04.jpg" alt="..." />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0"><br>
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                                <img class="img-fluid" src="./img/img06.jpeg" alt="..." />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6"><br>
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                                <img class="img-fluid" src="./img/img05.jpg" alt="..." />
                        </div>
                    </div>
                </div>
                <br>
                <br>
            

        </section>
        <!-- About-->
        <br>
        <br>
        <section class="page-section" id="about">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase animate__animated animate__fadeInUp" id="abouthead">About</h2><div class="aboutimg"><img align="right" src="./img/img33.gif" alt="" class="aboutimg" id="aboutimage"></div>
                    <h4 class="section-subheading text-muted">Lorem ipsum, dolor sit amet consectetur Lorem ipsum, dolor sit amet consectetur adipisicing elit.atque quam repellendus. Omnis nostrum deserunt quidem eos dolore. Veniam placeat reiciendis tempora minima, animi quo unde cum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto sunt praesentium distinctio itaque omnis corporis aliquid recusandae architecto! Dolor numquam, optio molestias laudantium delectus vitae impedit commodi a dicta vero!</h4>
                </div>
            
        </section>
        


        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center"><br>
                    <h2 class="section-heading text-uppercase animate__animated animate__fadeInUp">Our Client</h2>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                                <img class="img-fluid" id="imgclient" src="./img/canLogo.png" alt="..." />
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </section>

<br><br><br>
        <center>
            <div>
                <!-- Google Map Copied Code -->
                <h2 class="animate__animated animate__fadeInUp">
                    OUR LOCATION
                </h2>  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.1395677044547!2d74.98234461473957!3d12.898745790903655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba4a7ec7cde3f61%3A0x375b242f31af884c!2sCanara%20Engineering%20College!5e0!3m2!1sen!2sin!4v1673223304602!5m2!1sen!2sin" width="1430" height="300" style="margin-left: 1em; border: 0; margin-top: .5em;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                       
            </div>
        </center>

<div class="bottomwave">
</div><br><br>
        <!-- Footer-->
        <footer class="footer py-4 bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; CANPARK 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
