

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#DBE2EF ;
    overflow: hidden;
  }
  
  .topnav {
    overflow: hidden;
    padding-top: 1em;
    background-color:#112D4E;
  }
  
  .topnav a {
    float: left;
    color: #DBE2EF ;
    font-size: 30px;;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.active {
    color: #DBE2EF ;
    font-size: 30px;
  }
  
  .topnav-right {
    float: right;
  }
  .navbtn1:hover{
  color:#a6ccfb;
  }
  .navbtn2:hover{
    color:#a6ccfb;
      }
.image1{
  display: block;
  margin-top: -2em;
  margin-left: auto;
  margin-right: auto;
  width: 77%;
  height: 60%;
}
