body{
	background-image: url("../img/p1.jpg");
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	}
	 .form-control{
	   border-radius:25px;
	 }
	 .box{
	   width: 30rem;	
	   height: 5rem;
	   border-radius:15px;
	  background-color: rgba(0,0,0,0.5) !important;
	 }
	 .header{text-align: center;
	 margin-top: 27%;
	 margin-left: 16%;
	 width: 70%;
	 border-radius: 5px;
	 padding: 10px;
	 text-decoration: none;
	 color: #fff;
	 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	 font-size: 3.5em;
	 text-transform: uppercase;
	 }
	 .container{
	  background-color: rgba(0,0,0,0.5) !important;
	  width: 50%;
	  color: #fff;
	  border-radius: 20px;
	 }
	 .content{
	  text-align: center;
	 }
	 #submitDetails{
		color:#fff;
		background-color: rgb(25, 185, 89);
		width: 7em;
		height: 3em;
	    border-radius: 20%;
		
	 }
	 #submitDetails:hover{
		background-color: rgb(31, 167, 88);
	 }