@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

:root{
    --dark:#2b2d42;
    --light:#adb5bd;
    --border:#dee2e6;
    --border-btn:#edf2f4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'PT Sans',sans-serif;
}

.container{
    max-width: 1300px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display:flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-shadow1{
    background-color: #48ee5c;
    border-radius: 8px;
}

.border-shadow1:hover{
    background-color: #1dcc31;
    border-radius: 8px;
}

.border-shadow2{
    background-color: #f9763e;
    border-radius: 8px;
}

.border-shadow2:hover{
    background-color: #f74e27;
    border-radius: 8px;
}

.text-dark{
    color:rgb(10, 10, 82);
}

.inline{
    display:inline-block;
}

.text-light{
    color: rgb(12, 12, 126);
}
main,form,body{
    background:  rgb(250, 238, 72);
}
.text-gradient{
    background: rgb(10, 10, 82);
    -webkit-background-clip: text;
    background: text;
    -webkit-text-fill-color: transparent;
}
.user1:hover{
    background: rgb(10, 10, 82);
    -webkit-background-clip: text;
    background: text;
    -webkit-text-fill-color: transparent;
    padding: 3px;
    border: 2px solid  rgb(10, 10, 82);
    border-radius: 3px;
    transition: all 0.4s;
}

#header nav{
    color: rgb(11, 11, 87);
    font-family: 'Barlow', sans-serif;
    font-size: 3em;
    text-align: center;
    background-color: rgb(250, 238, 72);
    text-shadow: 3px 5px 3px rgb(255, 153, 0);
}

#site-main{
    margin-top: 6em;
    font-family: 'Barlow',sans-serif;
}

#site-main1{
    margin-top: 3em;
    font-family: 'Barlow',sans-serif;
}

table{
    border: 0px;
    width: 100%;
    color: #fff;
    
}

.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
padding: .3em 1em;
font-size: 1.1em;
margin: 0.2em;
}

.table tr{
    background-color:  rgb(33, 33, 128);
}

.table tr:hover{
    background:#3239bc;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color:  rgb(10, 10, 82);
    border-color:  rgb(10, 10, 82);
}

textarea{
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

@media only screen and (max-width: 1024px){
    
    table,thread,tbody,th,td,tr{
        display:block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr{border:1px solid var(--border);}

    td{
        border: none;
        border-bottom: 1px solid var(--border);
        position: relative;
    }
}
/* add user & update user template*/
.form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_user{
    max-width: 786px;
    margin : auto;
}

#update_user .form-group,
#add_user .form-group{
    margin: .4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"],
.form-control{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow',sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio{
    margin: 1em 2em;
}

/* adding style to radio button */
.radio input[type='radio']{
    position: absolute;
    opacity: 0;
}

.radio input[type='radio']+.radio-label:before{
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition:all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type='radio']:checked + .radio-label:before{
    background-color: #1623db;
    box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type='radio']:focus + .radio-label:before{
    outline: none;
    border-color:#040d81;
}

.radio input[type='radio']:disabled + .radio-label:before{
    box-shadow: inset 0 0 0 4px #e9ecef;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

#update_user.form-group .btn,
#add_user .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color: rgb(33, 33, 128);;
    border: none;
    font-family: 'PT Sans',sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}

#update_user.form-group .btn:hover,
#add_user .form-group .btn:hover{
    background-color: rgb(10, 10, 82);
    color: #fff;
}

.text-white{
    color: #fff;
}

  .topnav {
    overflow: hidden;
    background-color:rgb(250, 238, 72) ;
  }
  
  .topnav a {
    float: left;
    color: rgb(16, 14, 97);
    font-size: 30px;;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.active {
    color: rgb(16, 14, 97);
    font-size: 30px;
  }
  
  .topnav-right {
    float: right;
  }
  .navbtn:hover{
  color:rgb(57, 55, 178) ;
  }
 


	
